<div>
    <mat-grid-list cols="4" gutterSize="12" rowHeight="4:4">
        <mat-grid-tile>
            <app-single-blog></app-single-blog>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-single-blog></app-single-blog>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-single-blog></app-single-blog>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-single-blog></app-single-blog>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-single-blog></app-single-blog>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-single-blog></app-single-blog>
        </mat-grid-tile>
    </mat-grid-list>
</div>